---
import '../styles/global.css';
import BlogPost from '../components/BlogPost.astro';
// Import the BaseLayout component
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---
<html lang="es">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h2>Mi impresionante subtítulo del blog</h2>
      <p>Aquí es donde publicaré sobre mi viaje astral</p>
      <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
      </ul>
    </BaseLayout>
  </body>
</html>